/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.performance .performance-content ul li, .performance .performance-content, .performance {
  margin: auto;
}

.performance {
  overflow: auto;
  width: 576px;
  height: 600px;
}
.performance .performance-content {
  margin: 2em auto 1em;
  font-family: Arial, sans-serif;
}
.performance .performance-content ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
}
.performance .performance-content ul li {
  height: 90px;
  width: 450px;
  margin-bottom: 0.13em;
  border-radius: 0.2em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.performance .performance-content ul li:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -3.5em;
  width: 2em;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1em;
  color: #fff;
  font-size: 1em;
}
.performance .performance-content ul li:first-child {
  display: flex;
  justify-content: left;
  align-items: center;
  order: 2;
}
.performance .performance-content ul li:first-child:before {
  content: "2";
}
.performance .performance-content ul li:nth-child(2) {
  display: flex;
  justify-content: left;
  align-items: center;
  order: 1;
}
.performance .performance-content ul li:nth-child(2):before {
  content: "1";
}
.performance .performance-content ul li:nth-child(3) {
  display: flex;
  justify-content: left;
  align-items: center;
  order: 3;
}
.performance .performance-content ul li:nth-child(3):before {
  content: "3";
}
.performance .performance-content ul li:nth-child(4) {
  display: flex;
  justify-content: left;
  align-items: center;
  order: 4;
}
.performance .performance-content ul li:nth-child(4):before {
  content: "4";
}
.performance .performance-content ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 5;
  color: #fff;
  background-image: linear-gradient(90deg, #2782ad, #27ac96);
  font-size: 1.1em;
}
.performance .performance-content ul li:last-child:before {
  content: "=";
  border-radius: 0.2em;
  background-image: linear-gradient(90deg, #2782ad, #27ac96);
  font-size: 1em;
}
.performance .performance-content ul li dl {
  margin-left: 1.5em;
}
.performance .performance-content ul li dl dt {
  font-size: 1em;
  font-weight: bolder;
  opacity: 0.4;
  text-transform: uppercase;
}
.performance .performance-content ul li dl dd {
  font-size: 1em;
  font-weight: 700;
  opacity: 0.5;
  margin-top: 0.5em;
  margin-left: auto;
}